.mos-transport-badge {
  display: inline;
}

.mos-transport-badge svg {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: -0.2em;
  margin: 0 0.1em;
}

.mos-transport-missing {
  color: #c00;
  font-style: italic;
  font-size: 0.85em;
}
